body {
    font-family: sans-serif;
}

h1 {
    font-family: serif;
    font-size: 2rem;
    font-stretch: expanded;
    /* font-style: bold; */
    color: #ff66b3;
    border-bottom: 9px dotted #830388;
    padding-bottom: 5px;
}

h4 {
    margin-top: 2rem;
    color: #97989a;
}

p {
    line-height: 25px;
}

h2 {
    padding-top: 8px;
    padding-bottom: 5px;
    font-style: italic;
    color: #2f2f31;
}

ul {
    font-family: Helvetica;
    background-color: #eeeeee;
    border: 5px solid #7d0686;
    /* padding-top: 5px; */
    padding: 30px 25px;
}
li {
    margin-bottom: 5px;
}

span {
    color: #277c22;
}

a {
    color: #d87f64;
}
